<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>707490627994-n24rqocl02rga6e9nt1l3otnr1gb0ncb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707490627994-n24rqocl02rga6e9nt1l3otnr1gb0ncb</string>
	<key>API_KEY</key>
	<string>AIzaSyBnu5D8i99xKRHC6ks4DWDuDx3YWq9PN0U</string>
	<key>GCM_SENDER_ID</key>
	<string>707490627994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevaid.chaz.dev</string>
	<key>PROJECT_ID</key>
	<string>chaz-app-eecb5</string>
	<key>STORAGE_BUCKET</key>
	<string>chaz-app-eecb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707490627994:ios:bf5df1faca3c20b9</string>
	<key>DATABASE_URL</key>
	<string>https://chaz-app-eecb5.firebaseio.com</string>
</dict>
</plist>